{% extends 'base.html.twig' %}
{% block body %}
    <div class="card" style="width: 27rem;">
        <div class="card-body">
            <h5 class="card-title">Расчет стоимости продукта</h5>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Рассчитать цену</button>
            </div>
            {{ form_end(form) }}
            {% if price %}
                <div class="text-center">
                    Стоимость продукта: <b class="text-primary">{{ selectedProduct }}</b>, <br>
                    в регионе <b class="text-primary">{{ country }}</b><br>
                    <b class="display-2 text-danger">{{ price }}</b> &euro;
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
